@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

:root {
  --primary-color: #047aed;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
  object-fit: cover;
}

/* navbar */
.navbar {
  background-color: var(--primary-color);
  color: #fff;
  height: 70px;
}

.navbar ul {
  display: flex;
  gap: 1rem;
}

.navbar a {
  color: #fff;
  padding-bottom: 10px;
}

.navbar a::after {
  content: "";
  display: block;
  border-bottom: 2px solid #fff;
  transform: scaleX(0);
  transition: transform 0.25s ease-in-out;
  transform-origin: 0% 50%;
}

.navbar a:hover::after {
  transform: scaleX(1);
}

.navbar .flex {
  justify-content: space-between;
}

/* showcase */
.showcase {
  height: 400px;
  background-color: var(--primary-color);
  color: #fff;
  position: relative;
}

.showcase .grid {
  grid-template-columns: 55% 45%;
  gap: 1.875rem;
}

.showcase h1 {
  font-size: 2.5rem;
}

.showcase p {
  margin: 1.25rem 0;
}

.showcase-form {
  position: relative;
  top: 60px;
  height: 350px;
  width: 400px;
  padding: 2.5rem;
  z-index: 100;
  justify-self: end;
}

.showcase-form .form-control {
  margin: 1.875rem 0;
}

.showcase-form input[type="text"],
.showcase-form input[type="email"] {
  border: 0;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 3px;
  font-size: 1rem;
}

.showcase-form input:focus {
  outline: none;
}

.showcase::before,
.showcase::after {
  content: "";
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  background-color: #fff;
  transform: skewY(-3deg);
}

/* stats */
.stats {
  padding-top: 6.25rem;
}

.stats-heading {
  max-width: 500px;
  margin: auto;
}

.stats .grid h3 {
  font-size: 2rem;
}
